@import url(https://css.reizu.moe/uwu/uwu.css);

:root {
    --text-color: #fff;
    --accent-color: #fbc02d;
    --health-color: #fbc02d;
    --ammo-color: #fbc02d;
    --team-color: #bbbbbb;
    --premium-color: #FBC02D;;
    --verified-color: #40C4FF;
    --menu-bg-color: #1f2113e6;
    --menu-bg-color-secondary: #1f2113;
    --ingame-bg-color: #1f2113e6;
    --text-transform: none;
}

@font-face {
	font-family: gamefont;
	src: url(https://fonts.gstatic.com/s/nixieone/v11/lW-8wjkKLXjg5y2o2uUYV-ty.woff2);
}

@font-face {
	font-family: hpammo;
	src: url(https://fonts.gstatic.com/s/monoton/v10/5h1aiZUrOngCibe4TkHLQg.woff2);
}

/*============================39e============================*/

#newsHolder {
	display: none;
}

.topRightCounters {
	position: unset;
	bottom: unset;
	right: unset;
}

.countIcon {
	padding: 10px;
}

#killStreakHolder {
    bottom: 150px;
}

#challIcon {
	display: inline-block !important;
	position: fixed;
	width: 50px;
	height: 50px;
	left: 50px;
	bottom: 55px;
	filter: brightness(0) invert(1) drop-shadow(2px 2px 3px rgba(30, 30, 30, .5));
}

#ammoIcon {
	display: inline-block !important;
	position: fixed!important;
	width: 50px!important;
	height: 50px!important;
	right: 50px!important;
	bottom: 55px!important;
	margin-right: 0!important;
	margin-left: 0!important;
	filter: brightness(0) invert(1) drop-shadow(2px 2px 3px rgba(30, 30, 30, .5))!important;
}

#healthValue {
	position: fixed;
	left: 125px;
	bottom: 25px;
	font-size: 96px;
}

#ammoDisplay {
	width: 50px!important;
	height: 5px!important;
	top: calc(50% + 35px)!important;
	left: calc(50% - 25px)!important;
}

#ammoVal {
	position: fixed!important;
	font-size: 96px!important;
	right: 125px!important;
	bottom: 25px!important;
}

#weapDisplay {
	display: inline-block!important;
}

#reloadMsg {
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#chatHolder {
    bottom: 175px !important;
    left: 20px !important;
    border-radius: 10px;
    background-color: var(--ingame-bg-color);
}

#uiBase.onMenu #chatHolder {
    bottom: 175px !important;
}

#timerDisplay {
	width: 240px;
	height: 80px;
	background-color: var(--ingame-bg-color);
	will-change: unset;
}

#timerVal {
	font-size: 64px;
	padding-left: 0;
	will-change: unset;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#teamScores {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 685px;
	height: 50px;
	padding: 10px;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: transparent;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

.tScore {
	display: inline-block;
}

#tScoreV1 {
	position: fixed;
	left: -25%;
	top: 4px;
}

#tScoreV2 {
	position: fixed;
	left: 25%;
	top: 4px;
}

.tScoreT {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
	z-index: 2;
}

.tScoreM {
	display: none;
}

.tScoreF {
	left: 50%;
	width: 100px;
	height: 80px;
	margin-left: 123px;
	margin-right: 116px;
	padding-left: 0;
	padding-right: 0;
	background-color: #eb5656;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreF.you {
	background-color: #5699eb;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreC {
	left: 50%;
	width: 100px;
	height: 80px;
	margin-left: 123px;
	margin-right: 116px;
	background-color: var(--accent-color);
	opacity: 50%;
	z-index: 1;
}

.tScoreC.you {
	background-color: #fff;
	opacity: 50%;
	z-index: 1;
}

#gameMessage {
	top: 90px;
	font-size: 18px;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#ingameFPS {
	color: #fff !important;
	visibility: visible;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#pingText {
	color: #fff !important;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#pingIcon {
	color: var(--accent-color) !important;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#pingDisplay .material-icons {
	font-size: 20px;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

/*===========================EDITS===========================*/


/*privacy button next to ads removed*/
#onetrust-consent-sdk {
  display: none!important;
}


/*color fix settings header*/
.settingsHeader {
    background-color: #00000000!important;
}


/*color fix settings*/
#selectorContainer {
    background-color: var(--menu-bg-color);
}


/*color fix settings*/
.selectorItem {
    background-color: var(--menu-bg-color);
}


/*kill death streak on the right*/
.topRightCounters {
    position: fixed;
    top: 50%;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto !important;
    transform: translateY(-50%);
}


/*color fix settings*/
.standout::before {
    display:none!important;
}


/*mail border color fixed*/
.mailObj {
    border: 2px solid var(--accent-color)!important;
}


/*cc container removed*/
#streamContainer {
    display: none!important;
}


/*color fix settings*/
.sliderM {
    background-color: #fff!important;
}


/*color fix settings*/
.slider {
    background-color: #fff!important;
}


/*color fix settings*/
input {
    background: var(--menu-bg-color-secondary)!important;
}


/*color fix settings*/
input:checked+.slider {
    background-color: var(--accent-color)!important;
}


/*color fix settings*/
.redVouchBtn {
    background-color: var(--accent-color);
}


/*kpd button*/
#policeButton {
    margin: 0;
    background-color: transparent !important;
    box-shadow: none !important;
    width: auto !important;
    height: auto !important;
    padding: 0;
    text-shadow: none;
    position: absolute;
    bottom: 8px;
    left: calc(50% - 200px);
}
#policeButton {
    display: unset!important;
}
#policeButton img {
    display: none;
}
#policeButton::before {
    content: "local_police";
    font-size: 32px;
    font-family: 'Material Icons';
    color: var(--text-color);
    margin-right: calc(100% - 400px)!important;

}


/*kpd call list background*/
#policePopC {
    background-color: var(--menu-bg-color)!important;
    backdrop-filter: blur(3px)!important;
}


/*faceit icon removed*/
#faceItIconM {
    display: none!important;
}


/*kpd popup background color*/
#polConfPop {
    background-color: var(--menu-bg-color);
}

/*background blur on windows*/
#menuWindow {
    background-color: var(--menu-bg-color)!important;
    backdrop-filter: blur(5px)!important;
}


/*bid preview button*/
#bidPrevBtn {
    background-color: var(--accent-color)!important;
    text-shadow: none!important;
}


/*billboard bid button color*/
.bidPlace {
    background-color: var(--accent-color)!important;
    text-shadow: none!important;
}


/*cumstomize window selected*/
selectedItem {
    background-color: var(--accent-color)!important;
}


/*advanced settings in host menu*/
.advancedToggle {
    background-color: var(--accent-color)!important;
}


/*copying from text possible*/
#chatList {
    user-select: text!important;
}


/*settings fixed*/
.settName, .settNameSmall, .setHed, .setBodH, #hostActionH, .mFeatSepar{
    border: hidden!important;
    background: transparent !important;
}
.sliderVal, .selectorItem, .chalCard{
    border: hidden!important;
}
#menuWindowHider div[style="height:15px;margin-top:30px;border-top:4px solid rgba(255, 255, 255, 0.8);"]{
    display: none!important
}


/*chat color fixed*/
#chatList {
    background-color: var(--menu-bg-color)!important;
}


/*changelog text color fixed*/
#menuWindow.dark div {
    color: #fff!important;
}


/*blur on kicked for inactive*/
#instructionsUpdate {
    backdrop-filter: blur(5px)!important;
}


/*host button fixed*/
.hostCBtn {
    border: none;
    background-color: var(--accent-color);
}


/*comp present cleaner*/
.compSwpTmB {
    color: var(--text-color)!important;
    font-size: 15px;
    border: none;
    background-color: var(--accent-color)!important;
    border-radius: none;
}
.compMenBtnS {
    color: var(--text-color)!important;
    border: none;
    background-color: var(--accent-color)!important;
    border-radius: none;
}
#compClassPBtn {
    color: var(--text-color)!important;
    background-color: var(--accent-color)!important;
    border-radius: none;
    border: none;
}
#compBtnLst {
    padding-top: 20px;
    background-color: var(--ingame-bg-color)!important;
}


/*selected item on customize tab*/
#selectorContainer {
    filter: sepia(1);!important;
}
.selectedItem {
    background-color: var(--accent-color)!important;
}


/*kpd apply button cleaner*/
.buttonD {
    box-shadow: inset 0 -7px 0 0 #747574!important;
}


/*shop card fix*/
.shopCard {
    border: none!important;
    border-radius: 6px;
}


/*menu background dark fixed*/
#menuWindow.dark {
    background-color: var(--menu-bg-color)!important;
    backdrop-filter: blur(5px)!important;
}


/*chat gap fixed*/
#chatInput {
    margin-top: 0px!important;
}


/*weird look settings profile fixed*/
.setHedS {
    border: none;
    background-color: #fff0;
    margin-top: 0px;
}


/*settings profile nick update color*/
.updDisN {
    background-color: var(--accent-color);
}


/*settings header fixed*/
.setHed {
    margin-top: 0px!important;
}


/*server browser header fixed*/
.settName, .settNameSmall {
    margin-bottom: -15px !important;
}


/*contract sign color changed*/
#submitContrB {
    background-color: var(--accent-color);
}


/*show weapon icon ingame on the bottom*/
/*old one: filter: brightness(0) invert(1) drop-shadow(2px 2px 3px rgba(30, 30, 30, .5))!important;*/
.weapKey {
    display:none!important;
}
.weapIcon {
    transform: translate(-50%,-50%);
    position:fixed;
    left:50%;
    bottom: 0%;
    opacity:0 !important;
    transition-duration: .15s;
    filter:drop-shadow(2px 2px 3px rgba(30, 30, 30, .5)) sepia(1);!important;
}
.weapIcon[style="opacity: 1;"] {
    opacity:1 !important;
    filter:drop-shadow(2px 2px 3px rgba(30, 30, 30, .5)) sepia(1);!important;
}
.weapIcon[style="opacity: 1; margin-right: 25px;"] {
    opacity:1 !important;
    filter:drop-shadow(2px 2px 3px rgba(30, 30, 30, .5)) sepia(1);!important;
}
.weapIcon[style="opacity: 0.7;"] {
    transform:translate(-50%,-50%) translateY(100px);
    filter:drop-shadow(2px 2px 3px rgba(30, 30, 30, .5)) sepia(1);!important;
}
.weapIcon[style="opacity: 0.7; margin-right: 25px;"] {
    transform:translate(-50%,-50%) translateY(100px);
    filter:drop-shadow(2px 2px 3px rgba(30, 30, 30, .5)) sepia(1);!important;
}


/*better reload or no ammo icon*/
#reloadMsg {
    bottom: calc(50% - 200px);
    background-image: none;
    color: var(--ammo-color);
    font-family: 'Material Icons';
    font-size: 0;
    animation: breathe 1s infinite alternate;
}
#reloadMsg::before {
    content: "report_problem";
    font-size: 64px;
}


/*pfp update better*/
.updDisN {
    background-color: var(--accent-color)!important;
}


/*ping icon better*/


/*server icon icon better*/
#hostMenuBtn {
    background-color: var(--accent-color);
}


/*pfp select clean*/
#pfpPop {
    border-radius: 6px;
    background-color: var(--menu-bg-color);
    color: var(--text-color);
    backdrop-filter: blur(5px);
}
#pubPfp {
    background-color: var(--accent-color);
}



.compClassPItm {
    border: none;
    border-radius: 0px;
}


/*chat border better*/
#chatInput {
    border-radius: 6px;
}


/*chat spacing better*/
#chatInputHolder {
    margin-top: 0px;
}


/*better tab size*/
.bigMenTab {
    line-height: 30px;
}


/*background contract fixed*/
#popupContent {
    background-color: var(--menu-bg-color)!important;
}


/*contract color fixed*/
#clanWarKPB {
    background-color: var(--accent-color);
}


/*border-radius on tab*/
.bigMenTabA {
    border-radius: 6px;
}


/*border radius 0 everywhere*/
* {
    border-radius: 0px!important;
}
#chatInput {
    border-radius: 0px!important;
}


/*dropdown menu backgroud color fixed*/
.inputGrey2 option {
    background-color: var(--menu-bg-color)!important;
}
select option{
    background: var(--menu-bg-color)!important;
}


/*chat look fixed*/
#chatInput {
    margin-top: 3px!important;
    margin-bottom: 0px!important;
}


/*chat icon position fixed*/
#chatSwitch:after {
    content: attr(data-tab);
    margin-left: -10px;
}


/*ping icon round and color*/
.unreadBtnM {
    background-color: var(--accent-color);
    text-shadow: none;
    border-radius: 50%!important;
}


/*server gap removed*/
.setBodH {
    margin-top: -20px;
}

/*item search and skin cards fixed*/
#itemSearch {
    border-radius: 0px!important;
    border: none!important;
}
#itemSearchH {
    background-color: #fff0;
}
.skinCard {
    background-color: var(--menu-bg-color);
}


/*customize menu cleaner*/
.selectedItem {
    background-color: var(--accent-color)!important;
}


/*leaderboard colors fixed*/
.LeaderName {
    color: var(--accent-color)!important;
}
.LeaderNameM {
    color: var(--text-color)!important;
}
.LeaderNameF {
    color: var(--team-color)!important;
}
.newLeaderName {
    color: var(--accent-color)!important;
}
.newLeaderNameM {
    color: var(--text-color)!important;
}
.newLeaderNameF {
    color: var(--team-color)!important;
}


/*mail ping round*/
#mailCount {
    border-radius: 50%!important;
}


/*cleaner icons*/
.material-icons[style*="color:#FBC02D"] {
    color: var(--accent-color) !important;
}


/*tab header bottom box accent color*/
.bigMenTabA {
    cursor: default;
    border-bottom: 5px solid var(--accent-color)!important;
}


/*faceit better top color bg*/
#compClassPHolder {
    background-color: var(--menu-bg-color)!important;
}


/*spin fixed*/
#spinButton {
    border-radius: 50%!important;
}


/*better inputs*/
input {
    color: var(--text-color) !important;
    border-radius: 0px !important;
    border: 1px solid var(--accent-color)!important;
}
.button.btnRespin {
    background-color: var(--accent-color)!important;
    box-shadow: none!important;
}


/*endtable header better color*/
.tabHeader {
    background-color: var(--menu-bg-color-secondary);
}

/*remove new map making ad*/
.youNewDiv {
display:none !important;
}


/*=======================Streched Res========================*/
