/*UPDATE URL PLEASE DO NOT TOUCH*/
@import url(https://oofabyy.github.io/social-sakumai.css);
/*UPDATE URL*/

:root {
    --accent: #757575;
    --ingame-bg: #fff;
    --text-color: #353535;
}
/*FONT by tae#4444*/
@font-face {
    font-family: JP;
    src: url(https://dl.dropboxusercontent.com/s/9b7aer2osbcd388/logotypejp_mp_b_1.1.ttf?dl=0);
}
@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2);
}
