/*FurrFurr*/
/* same logic; if you do not know what you are doing you are new to css i reccommend you to ask me (FuryKA10#1432 on discord). 
Ask me before importing the url for it (if it becomes that successful ofc lul) 
and yeah i guess that is about it. Do not sell it, no plagiarism, or anything :).*/ 

@import url(https://envykrunk.github.io/removal/removal.css);

:root {
    --accent: #eb5656;
    --accent2: #9eeb56;
}

/* stuff */

.verticalSeparator,
.youNewDiv,
#streamContainer,
#mainLogo,
#seasonLabel,
#menuMiniProfilePic,
#loadEditrBtn,
.rankClck,
#endInfo {
    display: none !important
}

/* thank u envy check out https://envykrunk.github.io/removal/removal.css 
for removing certain stuff */

#ammoIcon,
#challIcon,
#customizeButton .material-icons,
#timerIcon,
#chatSwitch,
#curGameInfo,
.weapKey,
#killsIcon,
#deathsIcon,
#streakIcon,
#kdIcon,
.endTablePfp,
.endTableFlag  {
    display: none !important
}

#timerDisplay,
#ammoDisplay,
#healthValueHolder,
#chatList,
#chatInput,
#chatInputHolder  {
    border-radius: 0 !important
}

#ammoVal,
#timerVal,
#healthValue,
#ammoMax, 
#leaderDisplay,
.countIcon,
#signedInHeaderBar,
#reloadMsg::after {
    text-shadow: 0 0 5px #000000b8
}

#timerDisplay,
#ammoDisplay,
#leaderDisplay {
    background-color: transparent
}

#killsVal,
#deathsVal,
#streakVal,
#myScoreVal,
#kdVal {
    color: white !important;
}

/* chat stuff */

#chatInput {
    background-color: transparent;
    border: none;
    font-size: 21px;
}

#chatInputHolder {
    margin-top: 0;
    border: none;
    border-top: 1px solid black;
    background-color: #0000009e
}

#chatInputHolder, #chatInput {
    text-align: center   
}

#uiBase.onMenu #chatHolder {
    bottom: 30px !important;
    position: fixed
}

#chatHolder {
    position: fixed;
    bottom: 110px !important 
}

/* health stuff */

#healthValueHolder {
    background-color: transparent;
    position: absolute;
    left: 27px;
    bottom: -40px;
    width: 300px
}

#healthValue {
    font-size: 55px;
}

#maxHP {
    font-size: 40px
}

.hpBSeg {
    border-radius: 0 !important;
    box-shadow: none;
}

.healthBarSeg {
    margin-right: -0.8px;
    border-radius: 0 !important;
    width: 65px;
    height: 40px
}

#healthBar {
    border-radius: 0 !important;
    display: none;
    background-color: transparent;
    transform: translateX(-50%);
    left: 50%;
    position: fixed;
    bottom: 1%
}

#hudClassIcon {
    position: fixed;
    right: 2%;
    bottom: 2%;
    background-color: transparent;
    transform: scale(1.2)
}

/* colour thing */

/*leaderName, .tScoreF{
    color: var(--accent) 
}
[style*="color:#eb5656"] {
    color: var(--accent) !important
}
[style*="color:#9eeb56"] {
    color: var(--accent2) !important
}
[style*="color:#d0d0d0"] {
     color: var(--accent2)
} 
.leaderNameF, .tScoreF.you {
    color: var(--accent2) !important 
}
*/

.tScoreC {
    background-color: var(--accent) 
}

.tScoreC.you {
    background-color: var(--accent2) 
}

.leaderName, .leaderNameF {
    text-shadow: none !important
}

/* ammo stuff */

#ammoDisplay {
   position: fixed;
   right: 11%;
   padding-top: 0;
   padding-bottom: 39px;
   bottom: 3.4%;
   background: linear-gradient(90deg,grey, grey);
   background-repeat: no-repeat
}

#ammoVal {
    font-size: 60px
}

#ammoMax {
    font-size: 45px
}

/* reload message stuff */

#reloadMsg {
    background-color: transparent;
    border: none;
    visibility: hidden 
}

#reloadMsg::after {
    visibility: visible;
    content: 'warning_amber';
    font-size: 90px;
    font-family: 'Material-Icons';
    display: block !important;
    margin-bottom: 17% !important
}

/* weapon icon thing */

#weapDisplay {
    bottom: 14%;
    transform: scale(1.2);
    right: 2%
}

/* timer stuff */

#timerVal {
    font-size: 40px
}

#timerDisplay {
    border-radius: 0 !important;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: -0.3%
}

/* count icon stuff */

.countIcon {
    background-color: transparent;
    font-size: 24px;
}

.topRightCounters {
    flex-direction: column !important;
    display: flex;
}

#killsVal:before {
    content: 'K';
    margin-right: 20px !important
}

#streakVal:before {
    content: 'S';
    margin-right: 20px !important
}

#deathsVal:before {
    content: 'D';
    margin-right: 20px !important
}

#kdVal:before {
    content: 'K/D';
    margin-right: 20px !important
}

/* team scores stuff */

#teamScores {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    height: 0px !important;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    flex-direction: row-reverse !important;
    display: flex !important;
    border-radius: 0;
    background-color: transparent;
}

.tScoreC, .tScoreF {
    left: 50% !important;
    width: 115px;
    height: 80px;
    background-color: var(--accent);
    opacity: 50%;
    margin: 0px !important;
    padding: 0px !important;
    z-index: 1;
}

.tScoreC.you, .tScoreF.you {
    background-color: var(--accent2);
    opacity: 50%;
    z-index: 1
}

.tScore {
    display: inline-block;
    margin-left: 95px;
    margin-right: 95px
}

#tScoreV1 {
    position: fixed;
    color: white;
    right: 1%;
    top: 0px;
}

#tScoreV2 {
    position: fixed;
    left: 1%;
    color: white;
    top: 0px;
}

.tScoreT {
    width: 300px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 5px #000000b8;
    color: white;
    z-index: 2;
}

.tScoreM {
    display: none;
}

#gameMessage {
    top: 85px;
    text-shadow: 0 0 5px #0000009e
}
                  /* MENU UI */

/* level bar stuff */

.headerBarLeft {
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 !important;
    top: 2%;
    padding: 5px;
    margin: 0;
    width: 300px;
    height: 60px;
    background-color: transparent
}

#signedInHeaderBar {
    border-radius: 0 !important;
    text-align: center;
    padding-right: 10px !important;
    padding-left: 10px;
    font-size: 20px
}

#mLevelCont {
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 70px;
    top: -21%;
    position: fixed;
    left: -80px;
    background-color: transparent
}

#mLevelCont::before {
    content: 'level';
}

/* side menu bar stuff */

#menuItemContainer {
    height: 99.8%;
    top: 0.2px;
    background-color: #00000047
}

.menuItem:hover .menBtnIcn {
    transform: none !important
}


/* class preview stuff */

#menuClassContainer {
    left: 50%;
    transform: translateX(-50%);
    top: 79%
}

#customizeButton {
    position: fixed;
    height: 330px;
    bottom: -140px;
    right: 430px;
    opacity: 0; 
}

#menuClassNameTag {
    top: 240px
}

/* kpd button stuff */

#policeButton {
    position: fixed;
    top: -906.5px;
    right: -14.5%;
    height: 62px !important;
    border-radius: 0;
}

#policeButton:hover {
    transform: none
}

[src="./img/police.png"] {
    transform: translateY(-5%) !important
}

/* sub logo buttons stuff */

#subLogoButtons {
    flex-direction: column;
    display: flex;
    left: 95.5%;
    vertical-align: middle !important;
    padding: 0 !important;
    top: -7px;
    margin: 0 !important;
}

.button.small {
    padding: 10px !important;
    margin: 0 !important;
    margin-top: -0.35px !important;
    height: 200px !important;
    width: 160px;
    padding-top: 100px !important;
    padding-bottom: 90px !important;
    border-radius: 0 !important;
    border: none !important;
    background-color: #00000047;
}

#menuBtnJoin {
    border: none !important
}

.button.small:hover {
    transform: none;
    text-shadow: 0 0 5px black
}

/* other stuff */

.headerBarRight {
    position: fixed;
    left: 75%;
    width: 100px;
    border-radius: 0;
    font-size: 20px;
}

#termsInfo {
    position: fixed;
    top: 0;
    left: 150px
}

#mapInfo {
    position: fixed;
    top: 90px;
    left: 160px
}

#modVote {
    margin-right: 200px !important
}

/* spectate button stuff */

#spectButton .sliderSml::before {
    content: 'visibility_off';
    font-family: 'Material-Icons';
    visibility: visible;
    font-size: 70px;
    position: fixed;
    text-align: center;
    color: white;
    left: 250%;
    bottom: 510px !important;
    background-color: transparent;
}

input:checked+.sliderSml::before {
    color: white !important;
    content: 'visibility' !important;
    font-family: 'Material-Icons';
    transform: none
}

#spectButton {
   visibility: hidden 
}

/* yes */

#mapInfo::after {
    content: 'CSS made by FuryKA10#1432';
    position: fixed;
    display: block;
    top: 200px;
    color: #000896
}

/*Overrides*/
:root{
--accent: #ff0000ff;
--accent2: #000000ff;}
