@import url("https://githubmodssuck.github.io/krunker-custom-css/something.css");

/* Customize */
:root {
    /*LeaderBoard*/
    --color1: #383636;
    /*Weapon Shadows*/
    --color2: black;
    /*Why i add this...?*/
    --color3: black;
    /*timer color*/
    --time  : #ff2b2b;
    /*ammo color*/
    --ammoC : #ff0000;
    /*Health color*/
    --hpC   : #fff;
    /*reload bar color*/
    --relc1 : #ff1414;
    --relc2 : #000000;
    /*[R]Reloading color*/
    --relmsg: red;
}
